.header{
  width: 100%;
  background-color: $color-light-xl;
  padding: 29px 0;
  position: sticky;
  top: 0;
  & a {
    text-decoration: none;
  }

  & .wrapper {
    @include media-mobile {
      max-width: 94%;
      margin: 0 auto;
  }
  }
}

h4 a {
  color: $color-dark-l;
}

.header-logo {
  display: flex;
  flex-direction: column;
}

.header-logo__title {
    letter-spacing: 0.22rem;
    margin: 0 0 10px;
}

.header-logo__text {
  @extend %font-prim;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  color: $color-dark-3xl;
  margin: 0;
  padding: 0;
}

.header__navigation{
  display: flex;
  align-items: center;
  width: 443px;
  @include media-mobile {
    display: none;
  }
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  @extend %font-prim;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: $color-dark-l;
  padding-bottom: 2px;

  &:hover {
    cursor: pointer;
    color: $color-dark-3xl;
    // border-bottom: 3px solid transparent;
  }

  &:active {
    color: $color-dark-l;
    // border-bottom: 3px solid $color-primary;
  }

  &_active {
    color: $color-dark-3xl;
    border-bottom: 3px solid $color-primary;
  }
}
