.hero {
  background: $start-screen-gradient-background;
  padding-top: 180px;
  @include media-tablet {
   padding-top: 60px;
  }

  & a {
    text-decoration: none;
    color: #292929;
    padding: 15px 45px;
    display: inline-block;
  }
}

.hero-content {
  padding: 164px 35px 0 0;
  @include media-tablet {
    padding: 91px 0px 0;
  }
  @include media-mobile {
    padding: 89px 0 5px;
  }
}

.hero__title {
  color: $color-light-xl;
  max-width: 310px;
  margin: 0;
   @include media-tablet {
   margin-left: 124px;
  }

  @include media-mobile {
    margin-left: 0;
   }
}

.hero__text {
  @extend %font-prim;
  margin-top: 41px;
  margin-bottom: 41px;
  max-width: 460px;
  display: flex;
  align-items: center;
  color: $color-dark-s;
  @include media-tablet {
   margin-left: 124px;
  }
  @include media-mobile {
    text-align: center;
    margin-left: 0;
    margin-top: 42px;
    margin-bottom: 42px;
   }
}

.hero__image {
  @include media-tablet {
   width: 569px;
  }

  @include media-mobile {
    width: 260px;
   }
}

.hero__image-wrapper {
  height: 728px;
  @include media-tablet {
   text-align: right;
   margin-top: 100px;
   height: 593px;
  }
  @include media-mobile {
    height: 271px;
   }

}