.our-friends {
    background: $color-light-l;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    transition: all 2s;
    & a {
        text-decoration: none;
        color: #292929;
        display: inline-block;
        padding: 13px 43px;
    }

    @include media-tablet {
        padding-top: 81px;
    }
    @include media-mobile {
        padding-top: 42px;
        padding-bottom: 43px;
    }
}

.our-friends__title {
    max-width: 400px;
    margin: 0 auto;
}

.our-friends-slider {
    padding: 60px 0px;
    align-items: center;
    flex-wrap: wrap;
    transition: all 1s;
    @include media-mobile {
        flex-wrap: wrap;
        width: 270px;
        margin: 0 auto;
        padding: 42px 0px;
    }
}

.slider {
    position: relative;
    width: 990px;
    height: 435px;
    overflow: hidden;
    @include media-tablet {
        width: 580px;
    }
    @include media-mobile {
        margin-bottom: 20px;
    }
}

.our-friend-cards {
    display: flex;
    position: relative;
    transition: all 0.6s;
}

.our-friend-card {
    background:$color-light-s;
    padding-bottom: 30px;
    border-radius: 9px 9px 0px 0px;
    margin-right: 90px;
    transition: all 2s;

    &:last-child {
        margin-right: 0px;
    }

    h5 {
        margin-top: 23px;
        margin-bottom: 30px;
        @include media-tablet {
            margin-bottom: 29px;
        }
    }

    &:hover,
    &:active {
        background:$color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    @include media-tablet {
        margin-right: 40px;
    }
}

.to-right {
    animation: right 1s;
}

@keyframes right {
    from {
        right: 0px;
    }
  
    to {
        right: 310px;
    }
}

.to-left {
    animation: left 1s;
}

@keyframes left {
    from {
        right: 310px;
    }
  
    to {
        right: 00px;
    }
}