html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    @include font( $size: 1.5rem, $height: 2.4rem );
    color: $color-dark-xl;
}

.hidden {
    overflow: hidden;
}

h1 {
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h3 {
    @extend %font-add;
    @include font( $size: 3.5rem, $height: 4.5rem );
    color: $color-dark-l;
    letter-spacing: 0.06em;
    margin: 0;

    @include media-mobile {
        @include font( $size: 2.5rem, $height: 3.25rem );
        text-align: center;
    }
}

h4 {
    @extend %font-add;
    @include font( $size: 3.2rem, $height: 3.5rem );
    color: $color-dark-l;
}

h5 {
    @extend %font-add;
    @include font( $size: 2.0rem, $height: 2.3rem );
    color: $color-dark-l;
    margin: 0;
    letter-spacing: 0.06em;
}
