.layout-column {
  display: flex;
  justify-content:space-between;
}

.layout-4-column {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 60px 0 29px 0;
  width: 1200px;
  height: 1020px;
  // height: 930px;
  @include media-tablet {
    padding: 39px 0 29px 0;
    width: 580px;
  }

  @include media-mobile {
    justify-content: center;
    padding-top: 42px;
    width: 270px;
  }

}

.layout-column-footer {
  padding-top: 17px;
  @include media-tablet {
    padding-top: 0px;
  }
  @include media-mobile {
    flex-direction: column;
  }

  > div {
    flex-basis: 41%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 239px;

    @include media-tablet {
      flex-basis: 47%;
    }
  }
}